<div class="container">
  <form [formGroup]="form" class="form-inline">
    <div class="form-group">
      <label >شخصیت</label>
      <input id="legal"
             name="personType"
             type="radio"
             checked
             (change)="changePersonType($event.target.id)" >حقوقی
      <input name="personType"
             id="real"
             type="radio"
             (change)="changePersonType($event.target.id)">حقیقی
    </div>
    <app-legal-person-form class="col-12" *ngIf="personType === PersonTypeModel.legal" [form]="form" ></app-legal-person-form>
    <app-real-person-form class="col-12" *ngIf="personType===PersonTypeModel.real" ></app-real-person-form>
    <h6>اطلاعات تماس</h6>
    <div class="form-group">
      <label for="postalCode">کد پستی</label>
      <input id="postalCode"
             formControlName="postalCode"
             type="text"
             class="form-control"
             placeholder="کد پستی را وراد نمائید.">
      <div [ngClass]="{ 'alert alert-danger validation-message-show' :
      postalCode.touched && postalCode.invalid }" class="validation-message-hidden" >
        <div *ngIf="postalCode.errors?.maxlength">بیشترین تعداد کاراکتر مجاز {{
        postalCode.errors?.maxlength.requiredLength}} است</div>
      <div *ngIf="postalCode.errors?.minlength">کمترین تعداد کاراکتر مجاز {{
          postalCode.errors?.minlength.requiredLength}} است</div>
    </div>
    </div>
    <div class="form-group">
      <label for="phoneNo">شماره تلفن</label>
      <input id="phoneNo"
             formControlName="phoneNo"
             type="number"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="firstMobileNo">شماره همراه 1</label>
      <input id="firstMobileNo"
             formControlName="firstMobileNo"
             type="text"
             class="form-control">
      <div [ngClass]="{'alert alert-danger validation-message-show':
       form.get('firstMobileNo').errors?.pattern && form.get('firstMobileNo').touched
       }" class="validation-message-hidden">فرمت شماره همراه وارد شده صحیح نمی باشد</div>
    </div>
    <div class="form-group">
      <label for="secondMobileNo">شماره همراه 2</label>
      <input id="secondMobileNo"
             formControlName="secondMobileNo"
             type="text"
             class="form-control">
      <div [ngClass]="{'alert alert-danger validation-message-show':
       form.get('secondMobileNo').errors?.pattern && form.get('secondMobileNo').touched
       }" class="validation-message-hidden">فرمت شماره همراه وارد شده صحیح نمی باشد</div>
    </div>
    <div class="form-group">
      <label for="email">ایمیل</label>
      <input id="email"
             formControlName="email"
             type="email"
             class="form-control">
      <div [ngClass]="{'alert alert-danger validation-message-show':
       form.get('email').invalid &&  form.get('email').touched
       }" class="validation-message-hidden">فرمت ایمیل وارد شده صحیح نمی باشد</div>
    </div>
    <div class="form-group">
    <label for="address">آدرس</label>
    <input type="text" id="address"
              formControlName="address"
              class="form-control">
  </div>
    <div class="footer">
      <button class="btn btn-primary" [disabled]="form.invalid">ثبت</button>
    </div>
  </form>
</div>
