<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <label for="personType">شخصیت</label>
      <input id="personType" type="radio">
    </div>
    <h6>اطلاعات حقوقی</h6>
    <div class="form-group">
      <label for="companyName">نام شرکت</label>
      <input id="companyName" type="text" class="form-control" placeholder="نام شرکت را وارد نمائید.">
    </div>
    <div class="form-group">
      <label for="companyType">نوع شرکت</label>
      <input id="companyType" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="registrationNo">شماره ثبت</label>
      <input id="registrationNo" type="number" class="form-control">
    </div>
    <div class="form-group">
      <label for="registrationDate">تاریخ ثبت</label>
      <input id="registrationDate" type="text" class="form-control">
    </div>
    <h6>اطلاعات تماس</h6>
    <div class="form-group">
      <label for="postalCode">کد پستی</label>
      <input id="postalCode" type="number" class="form-control" placeholder="کد پستی را وراد نمائید.">
    </div>
    <div class="form-group">
      <label for="phoneNo">شماره تلفن</label>
      <input id="phoneNo" type="number" class="form-control">
    </div>
    <div class="form-group">
      <label for="firstMobileNo">شماره همراه 1</label>
      <input id="firstMobileNo" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="secondMobileNo">شماره همراه 2</label>
      <input id="secondMobileNo" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">ایمیل</label>
      <input id="email" type="email" class="form-control">
    </div>
    <div class="form-group">
    <label for="address">آدرس</label>
    <textArea id="address" class="form-control"></textArea>
  </div>
    <div class="footer">
      <button class="btn btn-primary">ثبت</button>
    </div>
  </form>
</div>
